page-list-routes {

}
ion-item:hover{
    -webkit-box-shadow: 0 0 8px 3px #ccc;
    -moz-box-shadow: 0 0 8px 3px #ccc;
}
.list-md .item-block .item-inner:hover{
    border:none;
}
.item-md{
    margin-top:1px;
}