page-list-routes {

}
.listavatar:hover{
    -webkit-box-shadow: 0 0 8px 3px #ccc;
    -moz-box-shadow: 0 0 8px 3px #ccc;
}
.listavatar .list-md .item-block .item-inner:hover{
    border:none;
}
.listavatar .item-md{
    margin-top:1px;
}